// .custom-container{
//     display: inline-block;
//     position: relative;
//     width: 100%;
// }
// h2{
//     text-transform: uppercase;
// }

// h6{
//     font-family: 'Roboto', sans-serif;
//     color: rgb(99, 101, 102);
// }

.card-container img{
  width: 100%;
  height: 300px;
}


#me{
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    border: 10px solid #17B8EC;
    border-radius: 50%;

}
.me-container{
    height: 220px;
    width: 220px;
    left: 20%;
    border: 10px solid #0487CB;
    margin: 0 auto;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) {
 
  .me-container{
    margin-left: 120px !important;
  }
}

// .jumbotron{
//     background: #fff !important;
// }
// .navbar{
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     font-size: 18px;

// }
// #aboutmeimg{
//     width: 100%;
//     height: auto;
// }
// .card{
//     border: 0 !important;
//     -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.15);
//     box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.15);
//     margin-top: 30px;
// }
// .appContainer {
//     margin: 0 auto !important;
//     max-width: 1140px;
// }

// h2{
//     font-family: 'Roboto', sans-serif;
//     color: rgb(99, 101, 102);
// }

// $display5-size:               3.7rem !default;
// $display5-weight:             600 !default;
// $display6-size:               2rem !default;
// $display6-weight:             400 !default;

// .display-5 {
//     font-size: $display5-size;
//     font-weight: $display5-weight;
//     font-family: 'Roboto', sans-serif;
//     color: rgb(99, 101, 102);

//   }
//   .display-6 {
//     font-size: $display6-size;
//     font-weight: $display6-weight;
//     font-family: 'Roboto', sans-serif;
//     color: rgb(99, 101, 102);
//   }

// // Spacing
// //
// // Control the default styling of most Bootstrap elements by modifying these
// // variables. Mostly focused on spacing.
// // You can add more entries to the $spacers map, should you need more variation.

// $spacer: 1rem !default;
// $spacers: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $spacers: map-merge(
//   (
//     0: 0,
//     1: ($spacer * .25),
//     2: ($spacer * .5),
//     3: $spacer,
//     4: ($spacer * 1.5),
//     5: ($spacer * 3),
//     6: ($spacer * 4),
//     7: ($spacer * 5),
//     8: ($spacer * 6),
//     9: ($spacer * 7),
//     10: ($spacer * 8)
//   ),
//   $spacers
// );
// @media (min-width: 0) {
//     .mt-10{
//         margin-top: 1rem;
//     }
// }

#root{
  background: #333;
}

h1 {
  text-shadow: 2px 1px 0px rgba(77, 77, 77, 0.49);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(99, 101, 102) !important;
  background: #fff;
  border-radius: 3px;
  text-shadow: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 1px 0px rgba(77, 77, 77, 0.49);
}

$navbar-light-brand-color: #0e4c9e;
$navbar-light-brand-hover-color: #0e4c9e;
$navbar-light-color: #0e4c9e;
$navbar-light-hover-color: #0e4c9e;

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-brand-color;

    .hover-focus {
      color: $navbar-light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      .hover-focus {
        color: $navbar-light-hover-color;
      }
    }
  }
}

$progress-height: 0.5rem !default;
$progress-bg: #5ebcdf !default;
$progress-border-radius: 4px !default;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1) !default;
$progress-bar-color: #fff !default;
$progress-bar-bg: #5ebcdf;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width 0.6s ease !default;

.progress-bar {
  color: $progress-bar-color;
  text-align: center;
  white-space: nowrap;
  background-color: $progress-bar-bg !important;
  transition: $progress-bar-transition;
}

.progress {
  margin-bottom: 10px;
  height: 1rem !important;
}

.card-body {
  font-family: "Open Sans", sans-serif;
}

.navbar-light .navbar-toggler {
  background: #fff;
}

.navbar-nav{
  text-align: center;
}


//   #headingOne{
//     background: #0487CB;
// }
// #headingOne h2{
//     color: #fff;
//     text-align: center;
//     text-shadow: 2px 2px 2px #333;
// }


.social-icons.text-center {
  padding-top: 20px;
}

#ommig, #kompetens, #erfarenhet, .slider-feature-inner{
  max-width: 1140px;
}

#accordionExample>.card:last-of-type {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.slider-feature-inner{
  margin: 0 auto !important;
}
#portfolio{
  background: #fff;
}
.social-icons div img {
  display: inline-block;
  width: auto;
  height: 30px;
  text-align: center;
}
.social-icons {
  margin: 0 auto !important;
}
.social-icons div {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.social-icons img {
  text-align: center;
}

// .social-icons img:hover {
//   background: #0e4c9e;
// }
.cm-c {
  // max-width: 1140px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  // background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%) !important;
  border: none;
}
.social-icons .c-icons {
  display: inline;
  text-align: center;
  padding: 15px;
  vertical-align: middle;
  margin: 0 auto;
}

.container-fluid.mt-10.jumbotron-c {
  color: #fff;
  margin-bottom: 20px;
  min-height: 200px;
  margin-top: 100px;
  max-width: 1140px;;
}

.jumbo-text{
  padding-left: 50px;
}

//skills

.t-skills h2,h6 ,
.p-skills h2 {
  // background: #fff;
  color: #fff;
}
#erfarenhet h2{
  color: #fff;
}
.p-skills-d {
  margin-top: 50%;
}
.skills-c {
  margin-top: 30px;
}
.col-md-4.p-skills-d {
  display: inline-block;
  width: 100%;
  height: 120px;
  background: #5ebcdf;
  margin: 5px;
  color: #fff;
  padding-top: 50px;
}
h2 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  text-align: center;
}
.card {
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(94, 188, 223, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(94, 188, 223, 1);
  box-shadow: 3px 3px 0px 0px rgba(94, 188, 223, 1);
}
.contact {
  background: #333;
  color: #fff;
  padding: 50px;
}

#slider-feature {
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#49a599+0,007f61+100 */
background: #333; /* Old browsers */
// background: -moz-linear-gradient(45deg,  #49a599 0%, #007f61 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(45deg,  #49a599 0%,#007f61 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(45deg,  #49a599 0%,#007f61 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a599', endColorstr='#007f61',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  // border-top: 15px solid #fff;
  // border-bottom: 15px solid #fff;
  color: #fff;
}
.blockquote-footer{
  color: #333 !important;
}
.carousel-item {
  margin-top: 10px;
  padding: 10px;
}
#back-to-top {
  cursor: pointer;
  position: fixed;
  background: #5ebcdf
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAfklEQVR4Ae3OAQaAUBBF0Um12AD4CGgrQQICaXs3EWV8gWo+3uGBGVwzERERMWA4VkpM4pKKiQmP8jFOio7ZjvmoqJgVaM+tPioiprndm9+iMjHLPcZFLT7q65gZqB/+60+jgN7FVJbno2Yuvb0J6IAxH5MHVMAEdBZDREREdpuyWm7X7JgBAAAAAElFTkSuQmCC");
  width: 35px;
  height: 35px;
  bottom: 20px;
  right: 20px;

  display: none;
  border-radius: 0 !important;
  border: none;
  z-index: 9999;
}

.back-to-top:hover {
  background-color: #914bb7;
}

body {
  background: #2d2d37;
}
a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 0 auto;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/******/
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #fff;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

/*animation*/

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-light .navbar-toggler{
  border-color: transparent !important;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}